<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General - label="32000" -->
  <category label="32000">
    <!-- Media library path - label="32001" -->
    <setting type="folder" default="special://userdata/addon_data/script.service.torrspy/media" id="base_path"
        label="32001"/>
    <!-- Add unwatched movies to library - label="32002" -->
    <!-- Values: 32000=Ask, 32021=Automatically, 32022=No -->
    <setting type="enum" default="32020" id="add_movies_to_lib" enable="true" lvalues="32020|32021|32022"
        label="32002"/>
    <!-- Add unwatched TV shows to library - label="32003" -->
    <!-- Values: 32020=Ask, 32021=Automatically, 32022=No -->
    <setting type="enum" default="32020" id="add_tvshows_to_lib" enable="true" lvalues="32020|32021|32022"
        label="32003"/>
    <!-- Add all torrents from TorrServer to library - label="32004" -->
    <setting type="bool" default="false" id="add_all_from_torserver" enable="true"
        label="32004"/>
    <!-- Save position in video from TorrServe - label="32005" -->
    <setting type="bool" default="true" id="save_position" enable="true"
        label="32005"/>
    <setting type="select" id="tmdb_language" label="TMDB language" default="auto"
        values="auto|en|ru|ro|uk|be|de|fr|es|it" />
  </category>

  <!-- Actions - label="32010" -->
  <category label="32010">
    <!-- Create sources for library - label="32011" -->
    <setting type="action" id="create_sources" enable="true"
        action="RunScript(script.service.torrspy,create_sources)"
        label="32011"/>
    <!-- Create playlists for Android TV channels - label="32012" -->
    <setting type="action" id="create_playlists" option="close"
        action="RunScript(script.service.torrspy,create_playlists)"
        label="32012" />
    <!-- Install TSC NEXT! - label="32013" -->
    <setting type="action" id="install_torrserve_next" enable="!System.HasAddon(plugin.video.torrserve-next)"
        visible="false"
        action="InstallAddon(plugin.video.torrserve-next)"
        label="32013" />

<!--     <setting type="action" id="test_settings" visible="true"
      action="RunScript(script.service.torrspy,test_settings)"
      label="test settings"/>
 -->
  </category>

</settings>
